body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    text-align: center;
}

nav {
    padding: 20px;
    background-color: rgb(48, 48, 48);
}

main {
    margin: 20px;
    color: rgb(48, 48, 48);
}

.card {
    border: none;
    background-color: rgba(0, 0, 0, 0); 
}











